#newyork, #tokyo, #paris, #rome, #barcelona, #london, #hongkong, #ronda, #york, #dublin, #machupichu, #sydney, #grandcanyon, #florence, #buenosaires, #venice, #borabora, #angkorwat, #stlucia, #virginislands, #greatbarrierreef, #bavaria, #zanzibar, #athens, #havana {
  display: none;
}

.answer1 {
  float: left;
  width: 50%;
}

.answer2 {
  float: right;
  width: 50%;
}

img {
  border-radius: 50%;
  height: 300px;
  
}
